mixin resourceList(resources, region)
    include resource
    .ui.segment
        .ui.items.divided
            each data in resources
                +resource(data)
            else
                h3 Aucune ressource n'est disponible pour le moment.
                h4 Vous pouvez en soumettre une vous-même pour "#{region.nom}" #[a(href=propose_service_raw + currentRegion.nom target="_blank") en cliquant ici].
